<div class="main-container">
    <div class="container"><app-header></app-header></div>
    <div class="add-card-form">
        <app-add-card-form (added)='onAdded($event)'></app-add-card-form>
    </div>
    <div class="card-container">
        @for(card of cardsList; track card.keyid){
        <app-card [card]='card' (addedCardboxData)='cardBoxData($event)'></app-card>
        }

    </div>
    
    <!-- <div>
        <ul>
            @for(cardsList of filteredItems; track cardsList.keyid){
       
            <li>
                <app-card (searchEvent)="filterItems($event)">
                    {{ cardsList.status }} ({{ cardsList.info.name }})
                </app-card>
            </li>
            }

        </ul>
    </div> -->
</div>